<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.honeystone.board.model.dao.BoardDao">

	<!-- 전체 게시글 조회 -->
	<select id="selectAll" resultType="Board">
		SELECT *
		FROM boards
		WHERE deleted_at IS NULL
	</select>

	<!-- 상세 게시글 조회	-->
	<select id="getBoard" resultType="GetBoard" parameterType="Long">
		SELECT *
		FROM boards v
		INNER JOIN files f
		ON v.id = f.Board_id
		WHERE v.id = #{id}
		AND v.deleted_at IS NULL
	</select>

	<!-- 게시글 생성	-->
	<insert id="createBoard" parameterType="Board" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
		INSERT INTO boards (title, description, level, skill, created_at)
		VALUES(#{title}, #{description}, #{level}, #{skill}, NOW())
	</insert>

	<insert id="createFile" parameterType="BoardFile" useGeneratedKeys="true" keyProperty="fileId" keyColumn="id">
		INSERT INTO files (url, filename, board_id)
		VALUES(#{url}, #{filename}, #{boardId})
	</insert>

	<!--게시글 수정 -->
	<update id="updateBoard" parameterType="Board">
		UPDATE boards
		SET title = #{title}, description = #{description}, level = #{level}, skill = #{skill}, updated_at = NOW()
		WHERE id = #{id}
	</update>

	<!-- id로 게시글 존재 확인	-->
	<select id="existsById" resultType="int" parameterType="long">
		SELECT COUNT(*)
		FROM boards
		WHERE id = #{id}
		AND deleted_at IS NULL
	</select>

	<!-- 게시글 삭제(논리 삭제) deleted_at 변경 	-->
	<update id="deleteBoard" parameterType="Long">
		UPDATE boards
		SET deleted_at = NOW()
		WHERE id = #{id}
	</update>


	<select id="findboardsToDelete" resultType="Board">
		<![CDATA[
    	SELECT *
    	FROM boards
    	WHERE deleted_at IS NOT NULL
      	AND DATE_ADD(deleted_at, INTERVAL 30 DAY) <= CURRENT_DATE
    ]]>
	</select>

	<!--논리 삭제 테스트용 -->
	<!--<select id="findboardsToDelete" resultType="Board">
		<![CDATA[
    	SELECT *
    	FROM boards
    	WHERE deleted_at IS NOT NULL
      	AND DATE_ADD(deleted_at, INTERVAL 1 MINUTE) <= NOW()
    ]]>
	</select>-->

	<!--영구 삭제-->
	<delete id="deleteFile" parameterType="Long">
		DELETE FROM files
		WHERE board_id = #{id}
	</delete>

	<delete id="completeDeleteBoard" parameterType="Long">
		DELETE FROM boards
		WHERE id = #{id}
	</delete>
</mapper>
