<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.honeystone.video.model.dao.VideoDao">

	<!-- 전체 게시글 조회 -->
	<select id="selectAll" resultType="Video">
		SELECT *
		FROM videos
	</select>

	<insert id="createVideo" parameterType="Video" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
		INSERT INTO videos (title, description, level, skill)
		VALUES(#{title}, #{description}, #{level}, #{skill})
	</insert>

	<insert id="createFile" parameterType="VideoFile" useGeneratedKeys="true" keyProperty="fileId" keyColumn="id">
		INSERT INTO files (url, filename, video_id)
		VALUES(#{url}, #{filename}, #{videoId})
	</insert>
</mapper>